In [1]:
import pandas as pd
import openpyxl
import sqlite3


df_excel = pd.read_excel('ejemplo_excel.xlsx', skiprows=1, usecols='B:D')
display(df_excel)

FileNotFoundError: [Errno 2] No such file or directory: 'ejemplo_excel.xlsx'

In [ ]:
df_csv = pd.read_csv('ejemplo_csv.csv',skiprows=1, sep = ';', usecols=[1,2,3])
display(df_csv)

  Nombre  Edad     Municipio
0   Raúl    25        Málaga
1  María    23   Benalmádena
2  Pedro    26  Torremolinos

In [ ]:
con = sqlite3.connect("new_species.sqlite")
df_sqlite = pd.read_sql_query("SELECT * from species", con)
display(df_sqlite)

       index     genus    taxa sex                  plot_type  hindfoot_length
0        742   Baiomys  Rodent   M          Spectab exclosure         0.193548
1        743   Baiomys  Rodent   M                    Control         0.177419
2        745   Baiomys  Rodent   F   Long-term Krat Exclosure         0.145161
3        746   Baiomys  Rodent   F   Long-term Krat Exclosure         0.161290
4        747   Baiomys  Rodent   F   Long-term Krat Exclosure         0.161290
...      ...       ...     ...  ..                        ...              ...
31365  34499  Sigmodon  Rodent   F  Short-term Krat Exclosure         0.451613
31366  34500  Sigmodon  Rodent   M  Short-term Krat Exclosure         0.354839
31367  34501  Sigmodon  Rodent   F           Rodent Exclosure         0.370968
31368  34502  Sigmodon  Rodent   M           Rodent Exclosure         0.306452
31369  34503  Sigmodon  Rodent   M           Rodent Exclosure         0.419355

[31370 rows x 6 columns]